

<h1> Welcome to <%= @u.email %>'s Hydration Page </h1>


<div>

<p>
<p class="bottom-three">


<h3> This user has drank
<% @total_water = @u.water_posts.sum(:ounce_count)	 %>
<%= @total_water%>
total ounces of water since joining Hydration Hero! </h3>
</p>
<h4> That is <% @bottle = @total_water/16 %><%= @bottle  %>   bottles of water or <% @gallon = @total_water/64%><%= @gallon  %> gallons of water!
<div>
<h1> <%= @u.email %>'s Water Chart! </h1>


<table class="table table-primary table-striped">
<thead class="table-light">


      <tr class="table-dark">
       

        <th>
          Date
        </th>

        <th>
          Ounce count
        </th>

        <th>
          Caption
        </th>

        <th>
          User
        </th>


        
        

      
        <th>
          Last Modified
        </th>

<th>
          Click for details 
        </th>

        
      </tr>
      </thead>
      
<%#= @user_num  %>
<%# individual_drinker = User.where({ :id => @user_num }).at(0) %>

<% drinker_posts = WaterPost.where({ :post_author_id => @user_num}) %>
<% drinker_posts_order = drinker_posts.order({ :created_at => :desc }) %>

      <% drinker_posts_order.each do |a_water_post| %>
      <tr>
       

        <td>
          <%= a_water_post.date %>
        </td>

        <th text-align: center>
          <%= a_water_post.ounce_count %>
        </th>

        <td>
          <%= a_water_post.caption %>
        </td>

        <td>
       

         
  

  <% @post_user = a_water_post.post_author_id %>
 <% @a = User.where({ :id => @post_user }).at(0) %>

   <%= @a.email %>
</a>

        
        <td>
          <%= time_ago_in_words(a_water_post.updated_at) %> ago
        </td>

        <td>
          <a href="/water_posts/<%= a_water_post.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
