<div>
  <div>
    <h1>
      List of all water posts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new water post
    </h2>

    <form action="/insert_water_post" method="post">
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="ounce_count_box">
          Ounce count
        </label>

        <input type="text" id="ounce_count_box" name="query_ounce_count">
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <%# <div>
        <label for="post_author_id_box">
          Post author
        </label>

        <input type="text" id="post_author_id_box" name="query_post_author_id">
      </div> %>

      <%# <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count">
      </div> %>

      <button>
        Create water post
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Date
        </th>

        <th>
          Ounce count
        </th>

        <th>
          Caption
        </th>

        <th>
          Author User #
        </th>

        

      
        <th>
          Last Modified
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_water_posts.each do |a_water_post| %>
      <tr>
        <td>
          <%= a_water_post.id %>
        </td>

        <td>
          <%= a_water_post.date %>
        </td>

        <td>
          <%= a_water_post.ounce_count %>
        </td>

        <td>
          <%= a_water_post.caption %>
        </td>

        <td>
       

          <a href="users/<%= a_water_post.post_author_id %>">
  <%= a_water_post.post_author_id %>
</a>

        
        <td>
          <%= time_ago_in_words(a_water_post.updated_at) %> ago
        </td>

        <td>
          <a href="/water_posts/<%= a_water_post.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
